.main{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
.card-list{
    padding: 10px;
}
.card{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.card-image{
    overflow: hidden;
}
.card-text{
    display: flex;
    flex-direction: column;
}
.card-button{
    display:flex ;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}