<div class="main">
    <div class="table-animals">
        <table class="table-success">
            <thead>
                <tr class="table-success text-center">
                 <td class="table-success"> #</td>
                 <td class="table-success">Nom</td>
                 <td class="table-success">Image</td>
                 <td class="table-success text-center">Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let animal of animals" class="table-success">
                 <td class="table-success text-center" width="10%"> {{animal.id}}</td>
                 <td class="table-success text-center" width="30%"> {{animal.name.length > 10 ? (animal.name | slice: 0:10)+'...' : animal.name}}</td>
                 <td class="table-success"> <img src="{{ imageUrl + animal.imageUrl}}" alt="photo animal" width="100%" style="max-height: 70px"> </td>
                 <td class="table-success" width="10%"> 
                    <button
                    class="mx-2"
                    mat-mini-fab
                    color="basic"
                    style="margin: 0 2px"
                    (click)="openUpdateForm(animal.id)"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button class="mx-2" mat-mini-fab color="warn" style="margin: 3px 2px">
                    <mat-icon (click)="deleteAnimal(animal.id)">delete</mat-icon>
                  </button></td>
                </tr>
                <tr class="table-success">
                    <td class="table-success text-center" colspan="6"> 
                      <button mat-mini-fab color="basic" (click)="openCreatedForm()">
                        <mat-icon>add</mat-icon>
                      </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
