<div class="main">
    <h1>World Wild</h1>
    <div class="homeBackground">
        <img src="assets/backgorund.jpg" alt="image d'accueil">
    </div>
    <div class="homeText">
        <p>
            Bienvenue dans le monde à son état pur. Découvrez la jungle et ses êtres vivants.
            Référez les différentes espèces vivantes de ces lieux idyliques
        </p>
    </div>
    <div class="homeBtn">
        <button routerLink="/animals"> Go to animals</button>
        <button routerLink="/plants"> Go to Plants</button>
    </div>
</div>
